(ns foo.bar.baz:v1.2.3)

(import com.daggerml.builtin:v0.0.1 dml)

(arg tarball "s3://bucket/image.tar.gz")
(arg train-spec "s3://bucket/train.spec")
(arg predict-spec "s3://bucket/predict.spec")

(def xyz-docker-image
  (dml/s3-ingest tarball))

(def train-fn
  (dml/funkify-emr
    xyz-docker-image
    train-spec))

(def preds {"train" (train-fn train-spec)
            "predict" (train-fn predict-spec)})

(dag
  (arg foo "asdf")
  (train-fn foo))

(dml/conj [train-fn ["bar"]] "qwer")
(dml/assoc preds "qwer" xyz-docker-image)
(dml/get preds "qwer")
(dml/get preds "train")
