(ns foo.bar.baz:v1.2.3)

(import com.daggerml.core:v0.1.0 dml)
(import com.micha.experiment-barp:my-tag-01 barp)

(arg tarball "s3://bucket/image.tar.gz")
(arg train-spec "s3://bucket/train.spec")
(arg predict-spec "s3://bucket/predict.spec")

(def xyz-docker-image
  (dml/docker-image tarball))

(def xyz-train-fn
  (dml/docker-function
    xyz-docker-image
    (dml/data train-spec)))

(dag
  (arg foo "asdf")
  (dml/docker-function
    xyz-docker-image
    (dml/data predict-spec)
    barp/omg))
